<html>
    <head>
        <title>Personal Work</title>
    </head>
<body>
    <div>
        <h1><a href="/">Fill Up with something</a></h1>
    </div>

    <div>
        <p>published: 28.07.2020, 11:55</p>
        <h2><a href=""> I didn't give order to suspend Big Brother Naija - Lai Mohammed</a></h2>
        <p> The minister of information and culture, Lai Mohammed,
            has debunked claims that he directed the Nigerian Broadcasting Commission (NBC)
            to suspend the Big Brother Naija show. A statement made by Mohammed's media aide, Segun Adeyemi,
            outrightly distanced the minister from the purported order to the NBC, PM News reports.
            Adeyemi said that if the minister gave the order to the commission concerning the reality show,
            it would have come in the form of a memo and not just verbally.</p>
    </div>

    <div>
        <p>published: 28.07.2020, 11:55</p>
        <h2><a href="">Ozo and Nengi showed each other affection, hugged as they bade themselves.</a></h2>
        <p>Popular BBNaija 2020 housemates and possible future lovebirds in the house,
            Ozo, and Nengi have again shown viewers that they may be the next couple in the house.
            On Friday night, July 24, Ozo and Nengi spoke like very close friends would do in the lounge.
            They had a conversation amid chuckles and smile before they bade themselves a good night.
            Just before they left the lounge, the two hugged each other. It should be noted that Dorothy cut his friendship
            with Ozo off as she claimed that the latter is putting her in a "situation".</p>
    </div>
</body>
</html>